body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
}

.hero {
    background-image: url('background.jpg'); /* Cambia a la imagen de fondo deseada */
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
}

.services {
    padding: 20px;
}

.service {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
}

.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-selector span {
    margin: 0 10px;
    font-size: 18px;
}

.total {
    text-align: center;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

.total span {
    color: #0056b3; /* Color que coincide con el encabezado */
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 10px 0;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}