@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}
 
body {
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 78vh;
    align-items: ritgh;
    display: flex;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

 }
.logo{
    color: #000000;
    font-size: 25px;
    font-weight: 800;


}